body {
  background-color:rgb(168, 171, 173);
  background-size:auto;
  color:black;
  font-family: 'JetBrainsMono Nerd Font', monospace;
  padding:32px;
  height: 100vh;
}


h1{
    color:blanchedalmond;
    margin-bottom: 64px;
    
}

.calc{
    flex-direction: row;
    /* align-self: center; */
    justify-content: center;
    background-color:#0C0C0C;
    width: 420px;
    margin: 64px auto 32px auto;
    height: 600px;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.6);
    padding:32px;

}

.screen {
    color: white;
    border: 2px whitesmoke; 
    border-radius: 8px;
    background-color: #1f1f1f;   
    text-align: end;
    align-content: end;
    padding:12px;
    font-size: 64px;
    height: 150px;
    margin-bottom: 32px;
}

.button{
    font-family: 'JetBrainsMono Nerd Font', monospace;
    height:70px;
    width: 75px;
    background-color: #526c9d;
    color: white;
    font-size: 36px;
    border:1,5px;
    border-radius: 6px;
    margin: 6px;
}

.button_equal {
    font-family: 'JetBrainsMono Nerd Font', monospace;
    height:70px;
    width: 75px;
    background-color: #FB5036;
    color: white;
    font-size: 36px;
    border:1,5px;
    border-radius: 6px;
    margin: 6px;
}


.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    margin:auto;
    height: 390px;
    width: auto;
}

.container_R{
    height: 465,60px;
    width: 285px;
}

btn_del{
    font-size: 2px;
}